<header id="Header">
	<nav>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
            {% if logged %}
                <li><a href="/dashboard">Dashboard</a></li>
            {% endif %}
		</ul>
		{% if logged %}
			<div class="auth-options">
				<ul>
					<li><a href="/logout" class="auth-option">Logout</a></li>
				</ul>
			</div>
			<div class="img-profile-container">
				<a href="https://www.linkedin.com/in/nicolas-altman-a376941a4/" target="_blank" title="My Linkedin">
					<img class="img-profile" src="https://media-exp1.licdn.com/dms/image/C4E03AQEmHK9THFyXfw/profile-displayphoto-shrink_200_200/0?e=1605744000&v=beta&t=ncQjQgXdyV9HDXFQWra__71C0SpIyBiLXS8UwD-wKMg" alt="">
				</a>
			</div>
		{% else %}
			<div class="auth-options">
				<ul>
					<li><a href="/login" class="auth-option">Sign In</a></li>
					<li><a href="/register" class="auth-option">Sign Up</a></li>
				</ul>
			</div>
		{% endif %}
	</nav>
</header>
