{% extends 'layout.twig' %}

{% block content %}
    <p class="main-title">Dashboard</p>

    <div class="container">
        <ul>
            <li><a href="{{ defaultURL }}/aptitudes/add">Add Aptitude</a></li>

        </ul>
    </div>
{% endblock content %}